.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.calculator{
  /*display: flex;*/
  /*border: 1px solid black;*/
  box-sizing: border-box;
  width: 328px;
  height: 490px;
  background: red;


}
.display{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border:none;
  width: 100%;
  height: 80px;
  background: #1C191C;
  color: #FFFFFF;
}

.display.error{
  background: #EB4C42;
}

.buttons{
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 320px;
  height: 400px;

  /*justify-content: space-between;*/

}

.button{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  width: 80px;
  height: 80px;
  background: #E0E0E7;
}

.char{
  background: #F8801B;
  color: white;
}
.clear{
  background: #C5C3CC;
}
